{% extends 'html/head.html' %}
{% block title %}CRUD OPERATION{% endblock %}
{% block content %}
<div class="card col-md-7 mx-2">
			<h3 class="p-3 bg-warning text-center text-light mt-3">sellers details</h3>
			{% for i in sell %}
			<div class="col-md-4 mx-2">
				<img class="thumbnail" src="{{i.image.url}}" height="100px" width="80%">
				<div class="box-element product">
					<h6>{{i.name}}</h6>
					
				
					<h4>{{i.phoneno}}</h4>
					<a href="{% url 'delete' i.id %}" class="btn btn-danger btn-block">delete</a>
				</div>
			</div>
			{% endfor %}

		</div>
{% endblock %}
